.wrapper-sticky {
    max-width: 100%;
    max-height: 80vh;
    overflow: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 !important;
    transition: width 2s;
}

.wrapper-sticky, .wrapper-sticky * {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.wrapper-sticky table {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    padding: 0 !important;
    border-collapse: collapse;
}

.wrapper-sticky table tr.sticky-top th, .wrapper-sticky table tr.sticky-top td,
.wrapper-sticky table tr.sticky-bottom th, .wrapper-sticky table tr.sticky-bottom td {
    background-color: #fff;
    border-top: 0;
    position: relative;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    outline: 1px solid #ddd;
    z-index: 5;
}
.wrapper-sticky table tr.sticky-top th, .wrapper-sticky table tr.sticky-top td {
    top: 0;
}
.wrapper-sticky table tr.sticky-bottom th, .wrapper-sticky table tr.sticky-bottom td {
    bottom: 0;
}

.wrapper-sticky table td.sticky-left, .wrapper-sticky table th.sticky-left,
.wrapper-sticky table td.sticky-right, .wrapper-sticky table th.sticky-right {
    background-color: #fff;
    outline: 1px solid #ddd;
    position: relative;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    z-index: 10;
}
.wrapper-sticky.sticky-ltr-cells table td.sticky-left, .wrapper-sticky.sticky-ltr-cells table th.sticky-left,
.wrapper-sticky.sticky-rtl-cells table td.sticky-right, .wrapper-sticky.sticky-rtl-cells table th.sticky-right {
    left: 0
}
.wrapper-sticky.sticky-rtl-cells table td.sticky-left, .wrapper-sticky.sticky-rtl-cells table th.sticky-left,
.wrapper-sticky.sticky-ltr-cells table td.sticky-right, .wrapper-sticky.sticky-ltr-cells table th.sticky-right {
    right: 0
}

.wrapper-sticky table tr.sticky-top td.sticky-left, .wrapper-sticky table tr.sticky-top th.sticky-left,
.wrapper-sticky table tr.sticky-top td.sticky-right, .wrapper-sticky table tr.sticky-top th.sticky-right,
.wrapper-sticky table tr.sticky-bottom td.sticky-left, .wrapper-sticky table tr.sticky-bottom th.sticky-left,
.wrapper-sticky table tr.sticky-bottom td.sticky-right, .wrapper-sticky table tr.sticky-bottom th.sticky-right {
    z-index: 15;
}
