extends layout.pug
block scripts
 script.
  $(document).ready(function(){
  	$('.table-base').sticky({
  	   'top':" tr:first-child",
  	   'left':" tr td:first-child",
  	   "right":" tr td:last-child",
  	   "bottom":" tr:last-child"
  	});

  	setTimeout(function(){
  		$('.table-base').unstick();
  	},1000);
  });
block content
 include table.pug
 include table-sticky.pug