- var list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];
table.table.table-striped.table-base
  for i in list
   if (i == 0)
    tr
     for j in list
        td Header   
   else if (i == list.length - 1)
    tr
     for j in list
        td Footer
   else
    tr
      for a in list
       if (a == 0)
        td LHeader
       else if (a == list.length - 1)
        td RHeader
       else 
        td Data