extends layout.pug
block scripts
 script.
  $(document).ready(function(){
  	$('.table').sticky({
  	  "top":"tbody tr:first-child",
  	   "bottom":"tbody tr:last-child"
  	});
  });
block content
 include table.pug