extends layout.pug
block scripts
 script.
  $(document).ready(function(){
  	$('.table').sticky({
  	   'top':"tbody tr:first-child",
  	   "right":"tbody tr td:last-child"
  	});
  });
block content
 include table.pug